.header {
  display: flex;
  height: 50px;
}

.container {
  padding: 0 10px;
  box-sizing: content-box;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container * {
  transition: opacity 200ms ease;
}

.container .star {
  transition: opacity 500ms ease;
}

.back {
  opacity: 0;
}

.nothome .event {
  opacity: 0;
}

.nothome .back {
  opacity: 1;
}

.nothome .star {
  opacity: 0.2;
}

.nothome .star,
.nothome .arrow {
  animation: reg 500ms ease;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes reg {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes bum {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

.unvisible .container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff10;
  backdrop-filter: blur(10px);
  z-index: 99;
  padding: calc(var(--paddingY) / 2) calc(var(--paddingX) + 10px);
  animation: bum 200ms ease;
}

.container img {
  border-radius: 100%;
}

.login {
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize);
  font-weight: 600;
  background: var(--accent);
  color: var(--bg);
}

.loading {
  position: fixed;
  z-index: 999999;
}

.loading::before,
.loading::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--accent);
  opacity: 0.6;
  z-index: 999999;
  animation: loading 2s ease infinite;
}

.loading::after {
  animation-direction: alternate;
}

.loading::before {
  animation-direction: alternate-reverse;
}

@keyframes loading {
  0% {
    margin-left: 0;
    width: 0;
  }
  50% {
    margin-left: 0%;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}
