.login {
  padding: 0 10px;
}

.login button {
  border: 2px solid var(--accent);
  background: var(--bg);
  color: var(--accent);
  font-family: var(--fontTitle);
  padding: 12px 16px;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 1;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: var(--gapText);
  margin: 0 -10px;
}

.login a {
  color: var(--accent);
  text-decoration: underline;
}

.login section {
  display: flex;
  gap: var(--gapText);
}

.login code {
  font-family: var(--fontMono);
  color: var(--accent);
}
