.registered {
  display: flex;
  flex-direction: column;
  gap: var(--gapBox);
}

.registered li {
  display: grid;
  grid-template-columns: 55px 1fr;
  gap: var(--gapText);
  position: relative;
}

.registered li > *:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.star {
  position: absolute;
  top: -15px;
  right: -20px;
  animation: reg 1s ease;
  -webkit-animation: reg 1s ease;
}

@keyframes reg {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.registered img {
  border-radius: 100%;
}

.registered span {
  display: flex;
  gap: 8px;
}

.registered pre {
  cursor: pointer;
  font-family: var(--fontMono);
  font-weight: 500;
  font-style: normal;
}

.registered div,
.registered button {
  display: flex;
  flex-direction: column;
  gap: var(--gapNarrow);
  overflow: hidden;
}

.registered h3,
.registered p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.member h3 {
  color: var(--accent);
}

.registered h3 {
  font-size: var(--fontSizeMid);
}
