.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  transition: transform ease 200ms, opacity ease 200ms, height ease 200ms,
    margin-top ease 200ms;
}

.nothome {
  opacity: 0;
  height: 0;
  margin-bottom: -30px;
}

.section::before,
.section::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  background: var(--bg);
  width: 32px;
  filter: blur(6px);
  z-index: 9999;
  pointer-events: none;
}

.section::before {
  left: 0;
  transform: translateX(calc(-1 * (var(--paddingY) + 20px)));
}

.section::after {
  right: 0;
  transform: translateX(calc(var(--paddingY) + 20px));
}

.title {
  font-size: 16px;
  color: var(--subFg);
  text-transform: uppercase;
  font-weight: 600;
}

.list {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  width: calc(100% + 2 * var(--paddingY));
  margin-left: calc(-1 * var(--paddingY));
  padding: 0 var(--paddingY);
}

.li,
.weekend {
  display: flex;
  border-radius: 10px;
  background: var(--subBg);
}

.li.active {
  background: var(--fg);
  color: var(--bg);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 6px;
}

.button:disabled {
  opacity: 0.3;
}

.weekend {
  color: var(--accent);
  background: transparent;
  position: relative;
}

.weekend * {
  z-index: 1;
}

.weekend::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--accent);
  border-radius: 10px;
  opacity: 0.2;
}

.weekend.active {
  color: var(--bg);
}

.weekend.active::after {
  opacity: 1;
}

.day {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.date {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 20px;
  font-variant-numeric: tabular-nums lining-nums;
}
