.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.section::before,
.section::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  background: var(--bg);
  width: 32px;
  filter: blur(6px);
  z-index: 9999;
  pointer-events: none;
}

.section::before {
  left: calc(-1 * (var(--paddingY) + 10px));
}

.section::after {
  right: calc(-1 * (var(--paddingY) + 10px));
}

.title {
  font-size: 16px;
  color: var(--subFg);
  text-transform: uppercase;
  font-weight: 600;
}

.list {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  width: calc(100% + 2 * var(--paddingY));
  margin-left: calc(-1 * var(--paddingY));
  padding: 0 var(--paddingY);
}

.li,
.weekend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 6px;
  border-radius: 10px;
  background: var(--subBg);
  color: var(--fg);
}

.weekend {
  background: var(--accent);
  color: var(--bg);
}

.day {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.date {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 20px;
}
