.event {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  transition: transform ease 200ms, opacity ease 100ms, height ease 200ms,
    margin-top ease 200ms;
  position: relative;
}

.registered {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 99;
  animation: reg 1s ease;
  -webkit-animation: reg 1s ease;
}

@keyframes reg {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.event span {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 32px;
}

.event span img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event span p {
  position: absolute;
  top: 19px;
  left: 19px;
  border-radius: 13px;
  padding: 0 12px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  font-weight: 600;
  font-size: 16px;
  color: var(--subFg);
}

.mini {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 0 14px;
}

.box {
  display: flex;
  padding: 2px;
  background: var(--fg);
  border-radius: 20px;
  align-items: center;
}

.title,
.date {
  display: flex;
  padding: 10px 16px;
  background: var(--bg);
  border-radius: 18px;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
}

.date {
  text-transform: lowercase;
  background: none;
  color: var(--bg);
  white-space: nowrap;
}

.arrow {
  width: 40px;
  height: 40px;
  background: var(--accent);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  gap: 24px;
}

.inactive {
  opacity: 0;
  height: 0;
  margin-top: -30px;
}

.full {
  display: none;
}

.active .mini {
  display: none;
}

.active .full {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.full h1 {
  font-weight: 700;
  font-size: 24px;
}

.description,
.description * {
  white-space: pre-line;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.description b,
.description b * {
  font-weight: 600;
}

.description i,
.description i * {
  font-style: italic;
}

.description button {
  color: var(--accent);
  text-decoration: underline;
  font-weight: 500;
}

.description code,
.description pre {
  font-family: "Sometype Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.description pre {
  color: var(--fg);
  padding: 6px 12px;
  border-left: var(--subFg) 4px solid;
  border-radius: 5px 10px 10px 5px;
  margin-left: -4px;
  position: relative;
}

.description pre::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--fg);
  border-radius: 0 10px 10px 0;
  opacity: 0.15;
}

.description blockquote {
  color: var(--accent);
  padding: 6px 30px 6px 12px;
  position: relative;
  border-left: var(--accent) 4px solid;
  border-radius: 5px 10px 10px 5px;
  margin-left: -4px;
}

.description blockquote:not([expandable]):before {
  content: '"';
  color: var(--accent);
  position: absolute;
  top: 13px;
  right: 13px;
  font-weight: 600;
  font-size: 30px;
}

.description blockquote::after {
  content: '"';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--accent);
  border-radius: 0 10px 10px 0;
  opacity: 0.15;
}

.description blockquote[expandable] {
  overflow: hidden;
  max-height: calc(1.5em * 3 + 10px);
  transition: max-height ease 0.5s;
}

.description blockquote[expandable]:focus {
  max-height: calc(1.5em * 30 + 16px);
}

.description blockquote[expandable]:before {
  content: "";
  position: absolute;
  bottom: 14px;
  right: 14px;
  font-weight: 600;
  font-size: 30px;
  color: var(--subFg);
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--accent);
  border-left: 3px solid var(--accent);
  border-radius: 4px 0 0 0;
  transform: rotate(-135deg);
  transition: transform ease 0.3s;
}

.description blockquote[expandable]:focus:before {
  transform: rotate(45deg);
}

.full > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 14px;
}

.full > section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.full > section > div {
  display: flex;
  padding: 12px;
  border-radius: 10px;
  gap: 8px;
  align-items: flex-end;
}

.full > section > div:nth-child(1) {
  background: var(--fg);
  color: var(--subBg);
}

.full > section > div:nth-child(2) {
  background: var(--subBg);
  color: var(--fg);
}

.full > section > div:nth-child(3) {
  background: var(--accent);
  color: var(--bg);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
}

.full > section > div:nth-child(4) {
  background: var(--bg);
  color: var(--accent);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 12px 16px;
}

.full > section > div:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--accent);
  border-radius: 100px;
  opacity: 0.2;
}

.full > section > div:nth-child(1) p:first-of-type,
.full > section > div:nth-child(2) p:last-of-type {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.full > section > div:nth-child(2) p:first-of-type,
.full > section > div:nth-child(1) p:last-of-type {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 20px;
}

.titleBox {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-columns: 1fr 32px;
  max-width: 100%;
  width: max-content;
  max-width: calc(100vw - 2 * var(--paddingX) - 28px);
}

.titleBox .arrow {
  width: 32px;
  height: 32px;
}
