.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.list.toLeft {
  animation: left 250ms ease;
}

@keyframes left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.toRight {
  animation: right 250ms ease;
}

@keyframes right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
