.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.loading {
  position: fixed;
  z-index: 999999;
}

.loading::before,
.loading::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--accent);
  opacity: 0.6;
  z-index: 999999;
  animation: loading 2s ease infinite;
}

.loading::after {
  animation-direction: alternate;
}

.loading::before {
  animation-direction: alternate-reverse;
}

@keyframes loading {
  0% {
    margin-left: 0;
    width: 0;
  }
  50% {
    margin-left: 0%;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}
