.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.svg {
  animation: rotate 1s infinite ease;
  -webkit-animation: rotate 1s infinite ease;
}

.node {
  animation: opacity 1s infinite ease;
  -webkit-animation: opacity 1s infinite ease;
  position: absolute;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
  }
  50% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
  }
}
