.toast {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  position: relative;
  animation: ap 0.1s ease, hi 2s ease forwards;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: #ffffff10;
}

.error {
  color: var(--accent);
}

.error::after {
  background: var(--accent);
}

.default {
  color: var(--fg);
}

.default::after {
  background: var(--subFg);
}

.toast::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0.1;
}

@keyframes ap {
  from {
    margin-bottom: -38px;
    transform: translateY(200px);
  }
  to {
    margin-bottom: 0;
    transform: translateY(0);
  }
}

@keyframes hi {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
