.club {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: var(--gapNarrow);
  overflow: hidden;
  border-radius: 20px;
}

.title,
.date {
  margin: 0 25px;
}

.title {
  margin-top: 25px;
}

.cover {
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
}

.gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  z-index: 1;
}
