.policy ul,
.policy ol {
  display: flex;
  flex-direction: column;
  gap: var(--gapNarrow);
  padding: 10px 0 10px 30px;
}

.policy ol {
  counter-reset: item;
  list-style: none;
  gap: var(--gapText);
}

.policy li {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--gapNarrow);
}

.policy ol > li {
  counter-increment: item;
}

.policy li::before {
  content: counters(item, ".") ". ";
  position: absolute;
  left: -50px;
  top: -1px;
  font-family: var(--fontTitle);
  font-size: var(--fontSize);
  color: var(--accent);
  text-transform: uppercase;
  text-align: right;
  width: 40px;
}

.policy ul > li::before {
  content: "*";
  font-size: var(--fontSizeLarge);
}

.policy a {
  color: var(--accent);
  text-decoration: underline;
}
